
#include <dt-bindings/zmk/trackball_pim447.h>
#include "twobytwo3.dtsi"                      // Notice that the main dtsi files are included in the overlay.

&default_transform { // The matrix transform for this board is 2 columns over because the left half is 2 columns wide according to the matrix.
  col-offset = <2>;
};

&kscan0 {
  col-gpios
    = <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    ;
};

// ???
// The definition of the pin assignment using pinctrl is new and untested,

&i2c0 {
  status = "okay";

  compatible = "nordic,nrf-twi";
  pinctrl-0 = <&i2c0_default>;
  pinctrl-1 = <&i2c0_sleep>;
  pinctrl-names = "default", "sleep";

  trackball_pim447@a {
    compatible = "pimoroni,trackball_pim447";
    reg = <0xa>;
    label = "TRACKBALL_PIM447";
    mode = <PIM447_MOVE>;
    move-factor = <2>;           // Increase pointer velocity (default: 1)
  };
};
