#include "breadboard.dtsi" // Notice that the main dtsi files are included in the overlay.

&kscan0 { // These are the column numbers of the Yackboard (diodes from row to column)
  col-gpios
    = <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    ;
};

/ {
  trackpad1: virtual_input {
    compatible = "zmk,virtual-input";
  };

  input_relay_config_102 {
    compatible = "zmk,split-peripheral-input-relay";
    relay-channel = <102>;
    device = <&trackpad1>;
  };
};
