if SHIELD_BREADBOARD_RIGHT

config ZMK_KEYBOARD_NAME
  default "Breadboard"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_BREADBOARD_RIGHT || SHIELD_BREADBOARD_LEFT

config ZMK_SPLIT
  default y

endif
